<form ng-submit="updateCustomer('name')" ng-show="option == 'ckyc'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer name</label>
      <input  ng-model="data.name" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="updateCustomer('pan')" ng-show="option == 'pan'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer pan no</label>
      <input  ng-model="data.pan" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="updateCustomer('aadhar')" ng-show="option == 'aadhar'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer aadhar no</label>
      <input  ng-model="data.aadhar" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="updateCustomer('passport')" ng-show="option == 'passport'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer passport no</label>
      <input  ng-model="data.passport" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>
