<form ng-submit="personalDetailsSave(o.personalDetails)" ng-show="option == 'ckyc'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer name</label>
      <input required ng-model="o.personalDetails.account_no" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="personalDetailsSave(o.personalDetails)" ng-show="option == 'pan'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer pan no</label>
      <input required ng-model="o.personalDetails.account_no" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="personalDetailsSave(o.personalDetails)" ng-show="option == 'aadhar'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer aadhar no</label>
      <input required ng-model="o.personalDetails.account_no" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>

<form ng-submit="personalDetailsSave(o.personalDetails)" ng-show="option == 'passport'" name="personalDetailsFrm" class="form" novalidate>
  <div class="col-md-12">
    <div class="form-group">
      <label>Customer passport no</label>
      <input required ng-model="o.personalDetails.account_no" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <br>
  </div>

</form>
