{% extends '../layouts/master.html' %}

{% block content %}
<div ng-controller="CutomerCreateCtrl">

  <section class="content">
    <div class="row">

      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="">Add a customer</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <br>
          <div class="box-body">

            <form ng-submit="addCutomer(customer)" name="addCutomerFrm" class="form" novalidate>
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" ng-model="customer.name" required>
              </div>

              <div class="form-group">
                <label>PAN no</label>
                <input type="text" class="form-control" name="pan" ng-model="customer.pan">
              </div>

              <div class="form-group">
                <label>Aadhar no</label>
                <input type="text" class="form-control" name="aadhar" ng-model="customer.aadhar" required>
              </div>

              <div class="form-group">
                <label>Passport no</label>
                <input type="text" class="form-control" name="passport" ng-model="customer.passport" required>
              </div>
              <button class="btn btn-primary" type="submit">Save</button>
            </form>

          </div>
        </div>
      </div>

      <!-- <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item cur" ng-click="option = 'pd'" ng-class="{active: option == 'pd'}">
            <i class="fa fa-user"></i>
            <span ng-show="completeFlag.pd" style="color: geen;" class="badge"><i class="fa fa-check"></i></span>
            &nbsp; Personal details
          </li>
          <li class="list-group-item cur" ng-click="option = 'cd'" ng-class="{active: option == 'cd'}">
            <span ng-show="completeFlag.cd" class="badge"><i class="fa fa-check"></i></span>
            <i class="fa fa-briefcase"></i>
            &nbsp; Company details
          </li>
        </ul>
      </div> -->

    </div>
  </section>

</div>

{% endblock %}

{% block javascript %}
  <script>
    angular.module('ModelFameApp')
      .controller('CutomerCreateCtrl', ['$scope', '$http', function ($scope, $http) {
        window.s = $scope;
        $scope.addCutomer = addCutomer;

        function addCutomer (customer) {
          if ($scope.addCutomerFrm.$invalid) {
            return;
          }
          var customerDatas = _.reduce(customer, function (arr, val, key) {
            var obj = {
              key: key,
              value: val
            };
            if (val) arr.push(obj);
            return arr;
          }, []);
          console.log(customerDatas); return;
          $http.post('/customers', customerDatas)
            .then(function (data) {
              toastr.success('Customer is added');
              $scope.addCustomerFrm.$setPristine();
              $scope.customer = {};
            }, fail);
        }

        function fail (err) {
          toastr.error('Something went wrong');
          console.log(err);
        }
      }]);
  </script>
  <script>
    $('#nav-customers-create').addClass('active');
  </script>
{% endblock %}
