{% extends '../layouts/master.html' %}

{% block content %}
<div ng-controller="CustomerQueryCtrl">

  <section class="content">
    <div class="row">

      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="">Fetch customer data</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <br>
          <div class="box-body">
            <div class="progress progress-sm active">
              <div class="progress-bar progress-bar-success progress-bar-striped" ng-style="style">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>

            {% include 'partials/query-forms.html' %}

            <table ng-show="user" class="table table-hover">
              <thead>
                <tr>
                  <th>CKYC</th>
                  <th>NAME</th>
                  <th>PAN</th>
                  <th>AADHAR</th>
                  <th>PASSPORT</th>
                  <th>EDIT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{user.ckyc}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.pan}}</td>
                  <td>{{user.aadhar}}</td>
                  <td>{{user.passport}}</td>
                  <td>
                    <a ng-href="/customers/update?ckyc={{user.ckyc}}">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item cur" ng-click="option = 'ckyc'" ng-class="{active: option == 'ckyc'}">
            <i class="fa fa-key"></i>
            &nbsp; Search by cKYC
          </li>
          <li class="list-group-item cur" ng-click="option = 'pan'" ng-class="{active: option == 'pan'}">
            <i class="fa fa-credit-card"></i>
            &nbsp; Search by PAN
          </li>
          <li class="list-group-item cur" ng-click="option = 'aadhar'" ng-class="{active: option == 'aadhar'}">
            <i class="fa fa-list-alt"></i>
            &nbsp; Search by Aadhar
          </li>
          <li class="list-group-item cur" ng-click="option = 'passport'" ng-class="{active: option == 'passport'}">
            <i class="fa fa-plane"></i>
            &nbsp; Search by Passport
          </li>
        </ul>
      </div>
    </div>
  </section>

</div>

{% endblock %}

{% block javascript %}
  <script>
    angular.module('ModelFameApp')
      .controller('CustomerQueryCtrl', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
        window.s = $scope;
        $scope.option = 'ckyc';
        $scope.val = '';
        $scope.query = query;

        function query () {
          var obj = {
            key: $scope.option,
            value: $scope.val
          }
          // console.log(obj);
          // return;
          $http.post('/customers/fetch', obj)
            .then(function (data) {
              $scope.user = {
                name: data.data[0],
                pan: data.data[3],
                aadhar: data.data[2],
                passport: data.data[1],
                ckyc: data.data[4]
              }
            }, fail);
        }

        function fail (err) {
          toastr.error('Something went wrong');
          console.log(err);
        }
      }]);
  </script>
  <script>
    $('#nav-customers-query').addClass('active');
  </script>
{% endblock %}
