{% extends '../layouts/master.html' %}

{% block content %}
<div ng-controller="CustomerQueryCtrl">

  <section class="content">
    <div class="row">

      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="">Update customer data</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <br>
          <div class="box-body">
            <div class="progress progress-sm active">
              <div class="progress-bar progress-bar-success progress-bar-striped" ng-style="style">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>

            {% include 'partials/update-forms.html' %}

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item cur">
            <input type="text" class="form-control" placeholder="Enter cKKYC no here .." ng-class="{anerror: ckycMissing}" ng-model="ckyc">
          </li>
          <li class="list-group-item cur" ng-click="option = 'ckyc'" ng-class="{active: option == 'ckyc'}">
            <i class="fa fa-key"></i>
            &nbsp; Update Name
          </li>
          <li class="list-group-item cur" ng-click="option = 'pan'" ng-class="{active: option == 'pan'}">
            <i class="fa fa-credit-card"></i>
            &nbsp; Update PAN
          </li>
          <li class="list-group-item cur" ng-click="option = 'aadhar'" ng-class="{active: option == 'aadhar'}">
            <i class="fa fa-list-alt"></i>
            &nbsp; Update Aadhar
          </li>
          <li class="list-group-item cur" ng-click="option = 'passport'" ng-class="{active: option == 'passport'}">
            <i class="fa fa-plane"></i>
            &nbsp; Update Passport
          </li>
        </ul>
      </div>
    </div>
  </section>

</div>

{% endblock %}

{% block javascript %}
  <script>
    angular.module('ModelFameApp')
      .controller('CustomerQueryCtrl', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
        window.s = $scope;
        $scope.option = 'ckyc';
        $scope.ckyc = '<%= ckyc %>';
        $scope.ckycMissing = false;
        $scope.data = {};
        $scope.updateCustomer = updateCustomer;

        function updateCustomer (key) {
          if (! $scope.ckyc) {
            alert('Please enter the ckyc id of the customer');
            return;
          }
          if (! $scope.data[key]) {
            alert('Please enter a valid value for: ' + key);
            return;
          }
          var obj = {
            key: key,
            value: $scope.data[key],
            ckyc: $scope.ckyc
          };
          $http.put('/customers/update', obj)
            .then(function (data) {
              $scope.data[key] = '';
              toastr.success('Customer record updated');
            }, fail);
        }

        function fail (err) {
          toastr.error('Something went wrong');
          console.log(err);
        }
      }]);
  </script>
  <script>
    $('#nav-customers-update').addClass('active');
  </script>
{% endblock %}
